Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [4]:
# Load the dataset
data_df = pd.read_csv("./Resources/bids_cleaned.csv")
print(data_df.shape)
data_df.head()

(1048575, 10)

,bid_id,bidder_id_short,auction_number,merchandise,device,time,time_gap,country,ip,url
0,0,bidder 1,auction 1,jewelry,phone0,9.760000e+15,-2.830000e+12,us,69.166.231.58,url 1
1,1,bidder 2,auction 2,furniture,phone1,9.760000e+15,-2.830000e+12,in,50.201.125.84,url 2
2,2,bidder 3,auction 3,home goods,phone2,9.760000e+15,-2.830000e+12,py,112.54.208.157,url 1
3,3,bidder 4,auction 4,jewelry,phone4,9.760000e+15,-2.830000e+12,in,18.99.175.133,url 1
4,4,bidder 5,auction 4,jewelry,phone5,9.760000e+15,-2.830000e+12,in,145.138.5.37,url 1

In [6]:
data_df.isnull().sum()

bid_id                0
bidder_id_short       0
auction_number        0
merchandise           0
device                0
time                  0
time_gap              0
country            1220
ip                    0
url                   0
dtype: int64

In [11]:
df = data_df.dropna()
print(df.shape)
df.isnull().sum()

(1047355, 10)

bid_id             0
bidder_id_short    0
auction_number     0
merchandise        0
device             0
time               0
time_gap           0
country            0
ip                 0
url                0
dtype: int64

In [12]:
df.to_csv("./Resources/cleaned_bids.csv", index=False)