In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# train_df = pd.read_csv("./Resources/train.csv")
bids_df = pd.read_csv("./Resources/bids.csv")

In [4]:
# Merge train and bids dataset
merged_bids = train_df.merge(bids_df, how= "left", on="bidder_id")
print(merged_bids.shape)
merged_bids.head()

(3071253, 12)

,bidder_id,payment_account,address,outcome,bid_id,auction,merchandise,device,time,country,ip,url
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,85371.0,yitr4,home goods,phone35,9.759489e+15,ke,82.34.177.248,vasstdc27m7nks3
1,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,274487.0,btpyy,home goods,phone1004,9.760249e+15,zm,202.130.71.167,vasstdc27m7nks3
2,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,527436.0,kj2ko,home goods,phone4,9.762261e+15,ke,22.54.76.225,vasstdc27m7nks3
3,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,554135.0,1m5t8,home goods,phone4,9.762431e+15,ke,32.13.237.126,vasstdc27m7nks3
4,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,607628.0,btpyy,home goods,phone4,9.762789e+15,ke,202.236.188.240,vasstdc27m7nks3

In [8]:
# Save the merged data to csv
merged_bids.to_csv("./Resources/merged.csv", index=False)

In [2]:
# Load the new dataset
data_df = pd.read_csv("./Resources/merged.csv")
print(data_df.shape)
data_df.head()

(3071253, 12)

,bidder_id,payment_account,address,outcome,bid_id,auction,merchandise,device,time,country,ip,url
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,85371.0,yitr4,home goods,phone35,9.759489e+15,ke,82.34.177.248,vasstdc27m7nks3
1,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,274487.0,btpyy,home goods,phone1004,9.760249e+15,zm,202.130.71.167,vasstdc27m7nks3
2,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,527436.0,kj2ko,home goods,phone4,9.762261e+15,ke,22.54.76.225,vasstdc27m7nks3
3,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,554135.0,1m5t8,home goods,phone4,9.762431e+15,ke,32.13.237.126,vasstdc27m7nks3
4,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0,607628.0,btpyy,home goods,phone4,9.762789e+15,ke,202.236.188.240,vasstdc27m7nks3

In [3]:
print(
    f"total bids made by robots: {len(data_df[data_df.outcome == 1])}")
print(
    f"total bids made by human:  {len(data_df[data_df.outcome == 0])}")
# print("the ratio of made by robot vs. bids made by human in data set: 3:20")

total bids made by robots: 412416
total bids made by human:  2658837

In [4]:
# Drop the missing country
data_df = data_df.dropna()
print(data_df.shape)
# Check is there any other null values
data_df.isnull().any()

(3068523, 12)

bidder_id          False
payment_account    False
address            False
outcome            False
bid_id             False
auction            False
merchandise        False
device             False
time               False
country            False
ip                 False
url                False
dtype: bool

Since each bidder in train dataset has corresponding unique payment account and address, these two columns could be dropped.

In [5]:
# Drop payment_account, address columns
data_df = data_df.drop(columns=["payment_account", "address"])
data_df.shape

(3068523, 10)

In [6]:
# Remove any spaces
data_df = data_df.replace({' ': ''}, regex = True) 
data_df.head()

,bidder_id,outcome,bid_id,auction,merchandise,device,time,country,ip,url
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,0.0,85371.0,yitr4,homegoods,phone35,9.759489e+15,ke,82.34.177.248,vasstdc27m7nks3
1,91a3c57b13234af24875c56fb7e2b2f4rb56a,0.0,274487.0,btpyy,homegoods,phone1004,9.760249e+15,zm,202.130.71.167,vasstdc27m7nks3
2,91a3c57b13234af24875c56fb7e2b2f4rb56a,0.0,527436.0,kj2ko,homegoods,phone4,9.762261e+15,ke,22.54.76.225,vasstdc27m7nks3
3,91a3c57b13234af24875c56fb7e2b2f4rb56a,0.0,554135.0,1m5t8,homegoods,phone4,9.762431e+15,ke,32.13.237.126,vasstdc27m7nks3
4,91a3c57b13234af24875c56fb7e2b2f4rb56a,0.0,607628.0,btpyy,homegoods,phone4,9.762789e+15,ke,202.236.188.240,vasstdc27m7nks3

In [7]:
# Save the cleaned data
data_df.to_csv("./Resources/cleaned_bids.csv")