In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

train_df = pd.read_csv("./Resources/train.csv")
test_df = pd.read_csv("./Resources/test.csv")
bids_df = pd.read_csv("./Resources/bids.csv")

In [2]:
# Groupby auction
auctions = pd.DataFrame(data = bids_df['auction'].unique(), columns = ['auction'],
                    index = bids_df['auction'].unique())

text_cols = ['bidder_id', 'merchandise', 'device', 'country', 'ip', 'url']
for var in text_cols:
    bids_df[var] = var + "_" + bids_df[var].fillna("")
    count_str = var + '_nunique_num'
    auctions[count_str]  = bids_df.groupby('auction')[var].nunique()

auctions.head()

,auction,bidder_id_nunique_num,merchandise_nunique_num,device_nunique_num,country_nunique_num,ip_nunique_num,url_nunique_num
ewmzr,ewmzr,243,8,471,1,1437,1368
aeqok,aeqok,302,9,688,112,5952,4123
wa00e,wa00e,31,4,65,1,131,131
jefix,jefix,845,9,2313,186,97478,47787
3vi4t,3vi4t,97,8,302,2,3444,558

In [3]:
# Groupby bidders
bids = pd.DataFrame(data = bids_df['bidder_id'].unique(), columns = ['bidder_id'],
                    index = bids_df['bidder_id'].unique())

text_cols = ['auction', 'merchandise', 'device', 'country', 'ip', 'url']
for var in text_cols:
    bids_df[var] = var + "_" + bids_df[var].fillna("")
    count_str = var + '_nunique_num'
    bids[count_str]  = bids_df.groupby('bidder_id')[var].nunique()

bids.head()

,bidder_id,auction_nunique_num,merchandise_nunique_num,device_nunique_num,country_nunique_num,ip_nunique_num,url_nunique_num
bidder_id_8dac2b259fd1c6d1120e519fb1ac14fbqvax8,bidder_id_8dac2b259fd1c6d1120e519fb1ac14fbqvax8,822,1,1405,122,21741,16842
bidder_id_668d393e858e8126275433046bbd35c6tywop,bidder_id_668d393e858e8126275433046bbd35c6tywop,594,1,1029,154,10316,4527
bidder_id_aa5f360084278b35d746fa6af3a7a1a5ra3xe,bidder_id_aa5f360084278b35d746fa6af3a7a1a5ra3xe,809,1,964,136,51891,13360
bidder_id_3939ac3ef7d472a59a9c5f893dd3e39fh9ofi,bidder_id_3939ac3ef7d472a59a9c5f893dd3e39fh9ofi,188,1,505,65,6296,2479
bidder_id_8393c48eaf4b8fa96886edc7cf27b372dsibi,bidder_id_8393c48eaf4b8fa96886edc7cf27b372dsibi,176,1,635,77,9240,1781