In [2]:
import pandas as pd
import numpy as np

train_df = pd.read_csv("./Resources/train.csv")
train_df.head()

,bidder_id,payment_account,address,outcome
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0.0
1,624f258b49e77713fc34034560f93fb3hu3jo,a3d2de7675556553a5f08e4c88d2c228v1sga,ae87054e5a97a8f840a3991d12611fdcrfbq3,0.0
2,1c5f4fc669099bfbfac515cd26997bd12ruaj,a3d2de7675556553a5f08e4c88d2c2280cybl,92520288b50f03907041887884ba49c0cl0pd,0.0
3,4bee9aba2abda51bf43d639013d6efe12iycd,51d80e233f7b6a7dfdee484a3c120f3b2ita8,4cb9717c8ad7e88a9a284989dd79b98dbevyi,0.0
4,4ab12bc61c82ddd9c2d65e60555808acqgos1,a3d2de7675556553a5f08e4c88d2c22857ddh,2a96c3ce94b3be921e0296097b88b56a7x1ji,0.0

In [3]:
test_df = pd.read_csv("./Resources/test.csv")
test_df.head()

,bidder_id,payment_account,address
0,49bb5a3c944b8fc337981cc7a9ccae41u31d7,a3d2de7675556553a5f08e4c88d2c228htx90,5d9fa1b71f992e7c7a106ce4b07a0a754le7c
1,a921612b85a1494456e74c09393ccb65ylp4y,a3d2de7675556553a5f08e4c88d2c228rs17i,a3d2de7675556553a5f08e4c88d2c228klidn
2,6b601e72a4d264dab9ace9d7b229b47479v6i,925381cce086b8cc9594eee1c77edf665zjpl,a3d2de7675556553a5f08e4c88d2c228aght0
3,eaf0ed0afc9689779417274b4791726cn5udi,a3d2de7675556553a5f08e4c88d2c228nclv5,b5714de1fd69d4a0d2e39d59e53fe9e15vwat
4,cdecd8d02ed8c6037e38042c7745f688mx5sf,a3d2de7675556553a5f08e4c88d2c228dtdkd,c3b363a3c3b838d58c85acf0fc9964cb4pnfa

In [43]:
bids_df = pd.read_csv("./Resources/bids.csv")
bids_df.head()

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url
0,0,8dac2b259fd1c6d1120e519fb1ac14fbqvax8,ewmzr,jewelry,phone0,9759243157894736,us,69.166.231.58,vasstdc27m7nks3
1,1,668d393e858e8126275433046bbd35c6tywop,aeqok,furniture,phone1,9759243157894736,in,50.201.125.84,jmqlhflrzwuay9c
2,2,aa5f360084278b35d746fa6af3a7a1a5ra3xe,wa00e,home goods,phone2,9759243157894736,py,112.54.208.157,vasstdc27m7nks3
3,3,3939ac3ef7d472a59a9c5f893dd3e39fh9ofi,jefix,jewelry,phone4,9759243157894736,in,18.99.175.133,vasstdc27m7nks3
4,4,8393c48eaf4b8fa96886edc7cf27b372dsibi,jefix,jewelry,phone5,9759243157894736,in,145.138.5.37,vasstdc27m7nks3

## Bidder Dataset
###  - Train

In [8]:
# Total number of data
train_df.count()

bidder_id          2013
payment_account    2013
address            2013
outcome            2013
dtype: int64

In [5]:
# Robot vs Human
train_df.outcome.value_counts()

0.0    1910
1.0     103
Name: outcome, dtype: int64

Imbalanced dataset

In [12]:
# Is there duplicate bidders
print(f"Bidder_id: {train_df.bidder_id.nunique()}")
print(f"Payment_acct: {train_df.payment_account.nunique()}")
print(f"Address: {train_df.address.nunique()}")

Bidder_id: 2013
Payment_acct: 2013
Address: 2013

Seems all data are unique

### - Test

In [13]:
# Total number of data
test_df.count()

bidder_id          4700
payment_account    4700
address            4700
dtype: int64

In [14]:
# Is there duplicate bidders
print(f"Bidder_id: {test_df.bidder_id.nunique()}")
print(f"Payment_acct: {test_df.payment_account.nunique()}")
print(f"Address: {test_df.address.nunique()}")

Bidder_id: 4700
Payment_acct: 4700
Address: 4700

No duplicates

## Bids Dataset

In [20]:
bids_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7656334 entries, 0 to 7656333
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   bid_id       int64
 1   bidder_id    object
 2   auction      object
 3   merchandise  object
 4   device       object
 5   time         int64
 6   country      object
 7   ip           object
 8   url          object
dtypes: int64(2), object(7)
memory usage: 525.7+ MB

In [24]:
# No. of items for each category
bids_df.nunique()

bid_id         7656334
bidder_id         6614
auction          15051
merchandise         10
device            7351
time            776529
country            199
ip             2303991
url            1786351
dtype: int64

In [46]:
# Convert the time to Datetime
bids_df.time = pd.to_datetime(bids_df.time, unit="ns")
bids_df.head(10)

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url
0,0,8dac2b259fd1c6d1120e519fb1ac14fbqvax8,ewmzr,jewelry,phone0,1970-04-23 22:54:03.157894736,us,69.166.231.58,vasstdc27m7nks3
1,1,668d393e858e8126275433046bbd35c6tywop,aeqok,furniture,phone1,1970-04-23 22:54:03.157894736,in,50.201.125.84,jmqlhflrzwuay9c
2,2,aa5f360084278b35d746fa6af3a7a1a5ra3xe,wa00e,home goods,phone2,1970-04-23 22:54:03.157894736,py,112.54.208.157,vasstdc27m7nks3
3,3,3939ac3ef7d472a59a9c5f893dd3e39fh9ofi,jefix,jewelry,phone4,1970-04-23 22:54:03.157894736,in,18.99.175.133,vasstdc27m7nks3
4,4,8393c48eaf4b8fa96886edc7cf27b372dsibi,jefix,jewelry,phone5,1970-04-23 22:54:03.157894736,in,145.138.5.37,vasstdc27m7nks3
5,5,e8291466de91b0eb4e1515143c7f74dexy2yr,3vi4t,mobile,phone7,1970-04-23 22:54:03.157894736,ru,91.107.221.27,vasstdc27m7nks3
6,6,eef4c687daf977f64fc1d08675c44444raj3s,kjlzx,mobile,phone2,1970-04-23 22:54:03.210526315,th,152.235.155.159,j9nl1xmo6fqhcc6
7,7,ab056855c9ca9d36390feae1fa485883issyg,f5f6k,home goods,phone8,1970-04-23 22:54:03.210526315,id,3.210.112.183,hnt6hu93a3z1cpc
8,8,d600dc03b11e7d782e1e4dae091b084a1h5ch,h7jjx,home goods,phone9,1970-04-23 22:54:03.210526315,th,103.64.157.225,vasstdc27m7nks3
9,9,a58ace8b671a7531c88814bc86b2a34cf0crb,3zpkj,sporting goods,phone4,1970-04-23 22:54:03.210526315,za,123.28.123.226,vasstdc27m7nks3

The time seems unconvertable. Unit can only use "ns". However I check the first number on [Unix Timestamp](https://www.unixtimestamp.com/) it should be Sat Apr 05 2279 04:52:37 GMT+0000. <br>
Probably just drop this column for further analysis.

In [48]:
# Is there any null
bids_df.isnull().sum()

bid_id            0
bidder_id         0
auction           0
merchandise       0
device            0
time              0
country        8859
ip                0
url               0
dtype: int64

Should we drop the null or replace with country_missing?

#### Understanding each column

In [49]:
# Merchandise
bids_df.merchandise.value_counts()

mobile              2126587
jewelry             1902058
sporting goods      1855207
home goods          1224234
office equipment     289838
furniture             99181
computers             81084
books and music       51941
clothing              16447
auto parts             9757
Name: merchandise, dtype: int64

In [50]:
# Country
bids_df.country.value_counts()

in    1788731
ng     586586
id     453611
tr     319574
us     318103
       ...
an          2
er          2
gp          2
mh          1
tc          1
Name: country, Length: 199, dtype: int64

In [51]:
# Devices
bids_df.device.value_counts()

phone4       706573
phone2       171584
phone35      165230
phone65      153855
phone3       153202
              ...
phone5925         1
phone5919         1
phone5917         1
phone5914         1
phone7498         1
Name: device, Length: 7351, dtype: int64